# This file is part of the Sylius package.
# (c) Paweł Jędrzejewski

# This file is referenced in Sylius-Standard v1.0.0 - v1.3.x

imports:
    - src/Sylius/Behat/Resources/config/suites.yml

default:
    formatters:
        pretty:
            verbose: true
            paths: false
            snippets: false

    extensions:
        Lakion\Behat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true

        Behat\MinkExtension:
            files_path: "%paths.base%/src/Sylius/Behat/Resources/fixtures/"
            base_url: "https://localhost:8080/"
            default_session: symfony
            javascript_session: chrome
            sessions:
                symfony:
                    symfony: ~
                chrome:
                    selenium2:
                        browser: chrome
                        capabilities:
                            browserName: chrome
                            browser: chrome
                            version: ""
                            marionette: null # https://github.com/Behat/MinkExtension/pull/311
                            chrome:
                                switches:
                                    - "start-fullscreen"
                                    - "start-maximized"
                                    - "no-sandbox"
                            extra_capabilities:
                                unexpectedAlertBehaviour: accept
                                goog:chromeOptions:
                                    w3c: false # https://github.com/Sylius/Sylius/issues/10561
                firefox:
                    selenium2:
                        browser: firefox
            show_auto: false

        FriendsOfBehat\SymfonyExtension: ~

        FriendsOfBehat\VariadicExtension: ~

        FriendsOfBehat\ExcludeSpecificationsExtension:
            features:
                - features/payment/managing_payment_methods/sorting_payment_methods.feature
                - features/product/viewing_products/searching_products_by_name_within_specific_taxon.feature
                - features/product/viewing_products/viewing_product_price_on_products_list.feature
                - features/product/viewing_products/viewing_products_from_specific_taxon.feature
                - features/product/viewing_products/viewing_products_from_specific_taxon_and_channel.feature
                - features/product/viewing_products/viewing_products_from_taxon_and_children.feature
                - features/product/viewing_products/viewing_products_sorted_by_first_variant_price.feature
                - features/product/viewing_products/viewing_products_with_multiple_variants_sorted_by_price.feature
                - features/product/viewing_products/viewing_sorted_products.feature

    gherkin:
        filters:
            tags: "~@todo && ~@cli" # CLI is excluded as it registers an error handler that mutes fatal errors
